.preview-wrapper {
    display: flex;
    background: rgb(26, 32, 39);
    justify-content: center;
    align-items: center;
    height: 100vh;
    .card {
        &:hover {
            opacity: 0.3;
        }

        background-color: rgb(18, 18, 18);
        color: rgb(255, 255, 255);
        transition-duration: 0.5s;
        border-radius: 4px;
        box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px,
            rgb(0 0 0 / 12%) 0px 1px 3px 0px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
        overflow: hidden;
        max-width: 345px;
        cursor: pointer;
        .card-img {
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            object-fit: cover;
            height: 160px;
            width: 300px;
        }
        .card-txt {
            padding: 16px;
            .title {
                margin: 0;
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 1.334;
                letter-spacing: 0em;
                margin-bottom: 0.35em;
            }
            .paragraph {
                margin: 0px;
                font-weight: 400;
                font-size: 0.875rem;
                line-height: 1.43;
                letter-spacing: 0.01071em;
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}
